<div class="row">
  <div class="span4">
    <strong>Add a photo shout</strong>
    <%= form_for @photo_shout do |f| %>
      <%= f.file_field :photo %>
      <%= f.submit "Shout!" %>
    <% end %>

  </div>

  <div class="span8">
      <%= render @shout_feed %>
  </div>

</div>
